main{
    border: 1px solid red;
    height: 650px;
    width:  1150px;
    margin: auto;
}
header{
    border: 1px solid blue;
    height: 100px;
    
}
nav{
    border: 1px solid violet;
    height: 50px;
   
}
section{
    border: 1px solid green;
    height: 350px;
    
}
footer{
    border: 1px solid yellow;
    height: 150px;
}
article{
    border: 1px solid black;
    height: 350px;
    width:  490px;
    margin: auto;
    float: left;
}   
aside1{
    border: 1px solid orange;
    height: 105px;
    width:  650px;
    float: right;
}
aside2{
    border: 1px solid pink;
    height: 105px;
    width:  650px;
    float: right;
}
aside3{
    border: 1px solid brown;
    height: 105px;
    width:  650px;
    float: right;
}


