main{
    border: 1px solid red;
    height: 650px;
    width:  1150px;
    margin: auto;
}
header{
    border: 1px solid blue;
    height: 100px;
    
    
}
nav{
    border: 1px solid violet;
    height: 50px;
    margin: 5px 0px 5px 0px;
   
}
section{
    border: 1px solid green;
    height: 350px;
    
}
footer{
    border: 1px solid yellow;
    height: 150px;
}
article{
    border: 1px solid black;
    height: 350px;
    width:  490px;
    margin: auto;
    float: left;
}   
aside1{
    border: 1px solid orange;
    height: 105px;
    width:  650px;
    float: right;
}
aside2{
    border: 1px solid pink;
    height: 105px;
    width:  650px;
    float: right;
}
aside3{
    border: 1px solid brown;
    height: 105px;
    width:  650px;
    float: right;
}
 nav ul li{
    display: inline-block;
    margin: rigth ;
    border: 2px solid red;
    font-family: 'Oswald', sans-serif;

}
header {
    text-align: center;
    height: 90px;
}
nav ul{
    list-style: none;
}
imagenes.descarga0{
    width: 50px;
    height: 50px;
}

